@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 9em 9em 9em 9em;
	}
}

@media only screen and (min-device-width : 480px) and (max-device-width : 640px) {
	body section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 9em 9em;
	}
}

@media only screen and (min-device-width : 640px) and (max-device-width : 768px) {
	body section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 9em 9em;
	}
}

@media only screen and (min-device-width : 769px) {
	body section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 9em 9em;
	}
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article header {
	line-height: 2em;
	padding: 0 1em 1.5em 1em;
}

header.article-title {
	font-family: cursive;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}

.hamburger-box input[type='checkbox'] {
	display: none;
}

.hamburger-box {
	display: block;
    position: relative;
    width: 40px;
    height: 24px;
    margin: 0 auto;
}

.hamburger-inner:before,
.hamburger-inner:after {
	position: absolute;
	display: block;
	content: '';
}

.hamburger-inner, 
.hamburger-inner:before,
.hamburger-inner:after {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    transition-duration: .5s;
}

.hamburger-inner:before {
	top: 10px;
}

.hamburger-inner:after {
	top: 20px;
}

/* HAMBURGER SLIDER START*/
.hamburger-box.slider input[type='checkbox']:checked ~ .hamburger-inner {
	transition-property: transform, margin-top;
	transition-duration: 1s, 1s;
	transform: rotate(45deg);
	margin-top: 10px;
}

.hamburger-box.slider input[type='checkbox']:checked ~ .hamburger-inner:before {
    transition-property: opacity;
	transition-duration: 1s;
    opacity: 0;
}

.hamburger-box.slider input[type='checkbox']:checked ~ .hamburger-inner:after {
	transition-property: transform;
	transition-duration: 1s;
	transform: translate3d(0,-20px,0) rotate(-90deg);
}

.hamburger-box.slider input[type='checkbox']:not(:checked) ~ .hamburger-inner {
	transition-property: transform, margin-top;
	transition-duration: 1s, 1s;
	transform: rotate(0deg);
	margin-top: 0px;
}

.hamburger-box.slider input[type='checkbox']:not(:checked) ~ .hamburger-inner:after {
	transition-property: transform;
	transition-duration: 1s;
	transform: translate3d(0,0,0) rotate(0deg);
}

.hamburger-box.slider input[type='checkbox']:not(:checked) ~ .hamburger-inner:before {
    transition-property: opacity;
	transition-duration: 1s;
    opacity: 1;
}
/* HAMBURGER SLIDER END */


/* HAMBURGER SQUEEZE START */
.hamburger-box.squeeze input[type='checkbox']:checked ~ .hamburger-inner:before,
.hamburger-box.squeeze input[type='checkbox']:checked ~ .hamburger-inner:after {
	transition-property: top, transform;
	transition-duration: .3s, .3s;
	transition-delay: 0s, .3s;
	top: 0px;
	transform: rotate(-90deg);
}

.hamburger-box.squeeze input[type='checkbox']:checked ~ .hamburger-inner {
	transition-property: margin-top, transform;
	transition-duration: .3s, .3s;
	transition-delay: 0s, .3s;
	margin-top: 10px;
	transform: rotate(45deg);
}

.hamburger-box.squeeze input[type='checkbox']:not(:checked) ~ .hamburger-inner:before {
	transition-property: transform, top;
	transition-duration: .3s, .3s;
	transition-delay: 0s, .3s;
	top: 10px;
	transform: rotate(0deg);
}

.hamburger-box.squeeze input[type='checkbox']:not(:checked) ~ .hamburger-inner:after {
	transition-property: transform, top;
	transition-duration: .3s, .3s;
	transition-delay: 0s, .3s;
	top: 20px;
	transform: rotate(0deg);
}

.hamburger-box.squeeze input[type='checkbox']:not(:checked) ~ .hamburger-inner {
	transition-property: transform, margin-top;
	transition-duration: .3s, .3s;
	transition-delay: 0s, .3s;
	margin-top: 0px;
	transform: rotate(0deg);
}
/* HAMBURGER SQUEEZE END */


/* HAMBURGER MINUS START */
.hamburger-box.minus input[type='checkbox']:checked ~ .hamburger-inner:before,
.hamburger-box.minus input[type='checkbox']:checked ~ .hamburger-inner:after {
	transition-property: top;
	transition-duration: .5s;
	top: 10px;
}

.hamburger-box.minus input[type='checkbox']:checked ~ .hamburger-inner {
	transition-property: margin-top;
	transition-duration: .5s;
	margin-top: 10px;
}

.hamburger-box.minus input[type='checkbox']:not(:checked) ~ .hamburger-inner:before {
	transition-property: top;
	transition-duration: .5s;
	top: 10px;
}

.hamburger-box.minus input[type='checkbox']:not(:checked) ~ .hamburger-inner:after {
	transition-property: top;
	transition-duration: .5s;
	top: 20px;
}

.hamburger-box.minus input[type='checkbox']:not(:checked) ~ .hamburger-inner {
	transition-property: margin-top;
	transition-duration: .5s;
	margin-top: 0px;
}
/* HAMBURGER MINUS END */


/* HAMBURGER ARROW START */
.hamburger-box.arrow input[type='checkbox']:checked ~ .hamburger-inner:before {
	transition-property: top, transform;
	transition-duration: .5s, .5s;
	transform: rotate(-30deg) translate3d(3px, -10px, 25px);
}

.hamburger-box.arrow input[type='checkbox']:checked ~ .hamburger-inner:after {
	transition-property: transform;
	transition-duration: .5s;
	transform: rotate(30deg) translate3d(-3px, 1px, 25px);
}

.hamburger-box.arrow .hamburger-inner {
	margin-top: 10px;
}

.hamburger-box.arrow input[type='checkbox']:not(:checked) ~ .hamburger-inner:before {
	transition-property: top, transform;
	transition-duration: .5s, .5s;
	transform: rotate(0deg) translate3d(0px, 0px, 0px);
	top: 0px;
}

.hamburger-box.arrow input[type='checkbox']:not(:checked) ~ .hamburger-inner:after {
	transition-property: top, transform;
	transition-duration: .5s, .5s;
	transform: rotate(0deg) translate3d(0px, 0px, 0px);
	top: 20px;
}
/* HAMBURGER ARROW END */

/* HAMBURGER SPIN START */
.hamburger-box.spin input[type='checkbox']:checked ~ .hamburger-inner:before,
.hamburger-box.spin input[type='checkbox']:checked ~ .hamburger-inner:after {
	transition-property: top, transform;
	transition-duration: .2s, .5s;
	top: 0px;
	transform: rotate(90deg);
}

.hamburger-box.spin input[type='checkbox']:checked ~ .hamburger-inner {
	transition-property: margin-top, transform;
	transition-duration: .2s, .5s;
	margin-top: 10px;
	transform: rotate(135deg);
}

.hamburger-box.spin input[type='checkbox']:not(:checked) ~ .hamburger-inner:before {
	transition-property: transform, top;
	transition-duration: .2s, .5s;
	top: 10px;
	transform: rotate(0deg);
}

.hamburger-box.spin input[type='checkbox']:not(:checked) ~ .hamburger-inner:after {
	transition-property: transform, top;
	transition-duration: .2s, .5s;
	top: 20px;
	transform: rotate(0deg);
}

.hamburger-box.spin input[type='checkbox']:not(:checked) ~ .hamburger-inner {
	transition-property: transform, margin-top;
	transition-duration: .2s, .5s;
	transform: rotate(0deg);
	margin-top: 0px;
}
/* HAMBURGER SPIN END */


/* HAMBURGER VORTEX START */
.hamburger-box.vortex input[type='checkbox']:checked ~ .hamburger-inner:before,
.hamburger-box.vortex input[type='checkbox']:checked ~ .hamburger-inner:after {
	transition-property: top, transform;
	transition-duration: .2s, .5s;
	top: 0px;
	transform: rotate(270deg);
}

.hamburger-box.vortex input[type='checkbox']:checked ~ .hamburger-inner {
	transition-property: margin-top, transform;
	transition-duration: .2s, .5s;
	margin-top: 10px;
	transform: rotate(225deg);
}

.hamburger-box.vortex input[type='checkbox']:not(:checked) ~ .hamburger-inner:before {
	transition-property: transform, top;
	transition-duration: .2s, .5s;
	top: 10px;
	transform: rotate(0deg);
}

.hamburger-box.vortex input[type='checkbox']:not(:checked) ~ .hamburger-inner:after {
	transition-property: transform, top;
	transition-duration: .2s, .5s;
	top: 20px;
	transform: rotate(0deg);
}

.hamburger-box.vortex input[type='checkbox']:not(:checked) ~ .hamburger-inner {
	transition-property: transform, margin-top;
	transition-duration: .2s, .5s;
	transform: rotate(0deg);
	margin-top: 0px;
}
/* HAMBURGER VORTEX END */


/* HAMBURGER INSTANT START */
.hamburger-inner, 
.hamburger-inner:before,
.hamburger-inner:after {
    transition-duration: 0s;
}

.hamburger-box.instant input[type='checkbox']:checked ~ .hamburger-inner:before,
.hamburger-box.instant input[type='checkbox']:checked ~ .hamburger-inner:after {
	top: 20px;
	transform: translate3d(0,-20px,0) rotate(-90deg);
}

.hamburger-box.instant input[type='checkbox']:checked ~ .hamburger-inner {
	margin-top: 10px;
	transform: rotate(45deg);
}
/* HAMBURGER INSTANT END */


/* HAMBURGER BOOK START */
.hamburger-box.book input[type='checkbox']:checked ~ .hamburger-inner:before {
	transition-property: top, transform;
	transition-delay: 0s, .5s;
	transition-duration: .5s, .5s;
	top: 20px;
	transform: translate3d(-18px,-20px,0) rotate(-90deg);
}

.hamburger-box.book input[type='checkbox']:checked ~ .hamburger-inner:after {
	transition-property: top, transform;
	transition-delay: 0s, .5s;
	transition-duration: .5s, .5s;
	top: 20px;
	transform: translate3d(-5px,-13px,0) rotate(-45deg);
}

.hamburger-box.book input[type='checkbox']:checked ~ .hamburger-inner {
	transition-property: margin-top;
	transition-duration: .5s;
	margin-top: 20px;
}

.hamburger-box.book input[type='checkbox']:not(:checked) ~ .hamburger-inner:before {
	transition-property: transform, top;
	transition-delay: 0s, .5s;
	transition-duration: .5s, .5s;
	top: 10px;
	transform: translate3d(0,0,0) rotate(0deg);
}

.hamburger-box.book input[type='checkbox']:not(:checked) ~ .hamburger-inner:after {
	transition-property: transform, top;
	transition-delay: 0s, .5s;
	transition-duration: .5s, .5s;
	top: 20px;
	transform: translate3d(0,0,0) rotate(0deg);
}

.hamburger-box.book input[type='checkbox']:not(:checked) ~ .hamburger-inner {
	transition-property: margin-top;
	transition-duration: .5s;
	transition-delay: .5s;
	margin-top: 0px;
}
/* HAMBURGER BOOK END */